/* Inclui todas as fontes que serão usadas */
@font-face {
    font-family: 'Six Caps';
    src: url('../assets/fonts/SixCaps-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
/* OBS: a roboto não é salva localmente pois seu carregamento é menos perceptível, e a inclusão é muito grande */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/*  =========== ESTILOS GERAIS ===========  */
/* Define as cores usadas como variáveis, para facilitar (cores do Game Boy clássico) */
:root {
    --black: #242320;
    --gray: #808080;
    --white: #f3f5ef;
    --blue: #6fc5dd;
    --red: #d02761;
    --yellow: #e3d663;
}

body {
	/*Evita faixas brancas por conta da margem */
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
/* Padroniza a fonte de todos os textos */
text, a, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.transition {transition: 0.5s;}

/* Coloração individual dos elementos e do background */
.white-background {background-color: var(--white);}
.black-background {background-color: var(--black);}
.gray {color: var(--gray);}
.white {color: var(--white);}
.black {color: var(--black);}
.blue {color: var(--blue);}
.red {color: var(--red);}

/* Estilização fixa para todas as tags div */
.vertical {
    display: flex;
    flex-direction: column;
}
.horizontal {
    display: flex;
    flex-direction: row;
}
.center {
    align-items: center;
    justify-content: center;
}
.space-between {
    align-items: center;
    justify-content: space-between;
}

/*  =========== BARRA DE NAVEGAÇÃO ===========  */
#navbar {
    /*background-color:var(--black);*/
	box-shadow: 0px 3px 3px 0px var(--gray);
    padding: 0 10vw;
    position:sticky;
	top:0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* Em telas menores, a navbar fica como coluna */
@media only screen and (max-width: 600px){
	#navbar {
		flex-direction: column; 
	}
}
.dark-navbar { 
    background-color:var(--black); 
    color: var(--white);
}
.light-navbar { 
    background-color:var(--white); 
    color: var(--black);
}

#page-name {
    font-family: "Six Caps";
	font-size: 60px;
	text-decoration: none;
}

#change-mode {
    width: 25px; 
    height: auto;
}

.header-link {
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: 0.5s;
	margin: 0 10px 0 10px;
}
.dark-header-link:hover {
	border-color: var(--white);
}
.light-header-link:hover {
	border-color: var(--black);
}

/*  =========== RODAPÉ ===========  */
#footer {
    border-top: 1px solid var(--white);
    width: 100%;
    height: 80px;
}
